.map{
    position:relative;
    overflow:hidden;
    max-width:100%;
    margin:-10px auto
}
.map__image{
    position:absolute;
    top:20px;
    left:-160px;
    right:150px;
    bottom:0
}
.map__image svg{
    width:100%;
    height:100%
}
.map__image path{
    fill:#bababa;
    stroke:#fff;
    stroke-width:1px;
    transition:fill .3s
}
.map__image .is-active path{
    fill:#f4623a
}
.map__list{
    float:right;
    width:180px;
    border-left:1px solid #dbdbdb
}
.map__list li,.map__list ul{
    margin:0;
    padding:0;
    list-style:none
}
.map__list a{
    margin-left: 10px;
    padding:6px;
    display:inline-block;
    width:auto;
    color:inherit;
    text-decoration:none;
    transition:.3s
}
.map__list a.is-active{
    color:#f4f4f4;
    border-radius: 10px;
    background-color:#f4623a
}
@media screen and (max-width:100%){

    .map__list{
        float:none;
        width:100%;
        border-left:1px solid #dbdbdb
    }
    .map__image{
        padding:10px;
        position:static;
        width:100%
    }

}

@media screen and (max-width: 768px) {
	.map__image {
        display: none;
        
	}
}

/* REGION CSS */

/**/
/* main styles */
/**/
.pcss3t {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 0;
	text-align: left;
}

.pcss3t>input {
	position: absolute;
	left: -9999px;
}

.pcss3t>label {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.1s;
	-o-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.pcss3t>label i {
	display: block;
	float: left;
	margin: 16px 8px 0 -2px;
	padding: 0;
	border: 0;
	outline: none;
	font-family: FontAwesome;
	font-style: normal;
	font-size: 17px;
}

.pcss3t>input:checked+label {
	cursor: default;
}

.pcss3t>ul {
	list-style: none;
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 13px;
}

.pcss3t>ul>li {
	position: absolute;
	width: 100%;
	overflow: auto;
	padding: 30px 40px 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.pcss3t>.tab-content-1:checked~ul .tab-content-1,
.pcss3t>.tab-content-2:checked~ul .tab-content-2,
.pcss3t>.tab-content-3:checked~ul .tab-content-3,
.pcss3t>.tab-content-4:checked~ul .tab-content-4,
.pcss3t>.tab-content-5:checked~ul .tab-content-5,
.pcss3t>.tab-content-6:checked~ul .tab-content-6,
.pcss3t>.tab-content-7:checked~ul .tab-content-7,
.pcss3t>.tab-content-8:checked~ul .tab-content-8,
.pcss3t>.tab-content-9:checked~ul .tab-content-9,
.pcss3t>.tab-content-last:checked~ul .tab-content-last {
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transform: rotate(0deg);
}

/**/
/* typography */
/**/
.pcss3t .typography {
	color: #666;
}

/**/
/* steps */
/**/
.pcss3t-steps>label {
	cursor: default;
}


/**/
/* animation effects */
/**/
.pcss3t-effect-scale>ul>li {
	-webkit-transform: scale(0.1, 0.1);
}

.pcss3t-effect-rotate>ul>li {
	-webkit-transform: rotate(180deg);
}

.pcss3t-effect-slide-top>ul>li {
	top: -40px;
}

.pcss3t-effect-slide-right>ul>li {
	left: 80px;
}

.pcss3t-effect-slide-bottom>ul>li {
	top: 40px;
}

.pcss3t-effect-slide-left>ul>li {
	left: -80px;
}



/*----------------------------------------------------------------------------*/
/*                                   LAYOUTS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* top right */
/**/
.pcss3t-layout-top-right {
	text-align: right;
}


/**/
/* top center */
/**/
.pcss3t-layout-top-center {
	text-align: center;
}


/**/
/* top combi */
/**/
.pcss3t>.right {
	float: right;
}

/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss3t>label {
	padding: 0 20px;
	background: #e5e5e5;
	font-size: 13px;
	line-height: 49px;
}

.pcss3t>label:hover {
    background: #f2f2f2;
    color: #f4623a;
}

.pcss3t>input:checked+label {
	background: #fdfdfd;
}

.pcss3t>ul {
	background: #fdfdfd;
	text-align: left;
}

.pcss3t-steps>label:hover {
	background: #e5e5e5;
}


/**/
/* theme 1 */
/**/
.pcss3t-theme-1>label {
	margin: 0 5px 5px 0;
	border-radius: 5px;
	background: #f4623a;
	box-shadow: 0 2px rgba(0, 0, 0, 0.2);
	color: #e5e5e5;
	opacity: 0.8;
}

.pcss3t-theme-1>label:hover {
	background: #fff;
	opacity: 1;
}

.pcss3t-theme-1>input:checked+label {
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #f4623a;
	opacity: 1;
}

.pcss3t-theme-1>ul {
	border-radius: 5px;
	box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.pcss3t-theme-1>.tab-content-1:checked~ul {
	border-top-left-radius: 0;
}

@media screen and (max-width: 767px) {
	.pcss3t-theme-1>label {
		margin-right: 0;
	}

	.pcss3t-theme-1>input:checked+label {
		margin-bottom: 5px;
		padding-bottom: 0;
		border-radius: 5px;
	}

	.pcss3t-theme-1>.tab-content-1:checked~ul {
		border-top-left-radius: 5px;
	}
}



/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
.pcss3t>ul,
.pcss3t>ul>li {
	height: 970px;
}

/* CARDS  */

/* CONTACTS */
.contact-box {
	background-color: #ffffff;
	border: 1px solid #e7eaec;
	padding: 20px;
	margin-bottom: 20px;
}

.contact-box>a {
	color: inherit;
}

.contact-box.center-version {
	border: 1px solid #e7eaec;
	padding: 0;
}

.contact-box.center-version>a {
	display: block;
	background-color: #fff;
	padding: 20px;
    text-align: center;
    border-radius: inherit;
    text-decoration: none;
}

.contact-box.center-version>a img {
	width: 120px;
	height: 120px;
	margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20%;
}

.contact-box.center-version address {
	margin-bottom: 0;
}

.contact-box .contact-box-footer {
	text-align: center;
	background-color: #ffffff;
	border-top: 1px solid #e7eaec;
	padding: 15px 20px;
}

.contact-box.center-version {
	box-shadow: -10px 5px 13px rgba(0, 0, 0, 0.3);
}
.contact-box.center-version:hover {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	animation-name: example;
	animation-duration: 0.25s;
	border-left: 8px solid #f4623a;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
}
.font-bold{
	font-size: larger;
	font-weight: 400;
}

/* ============ Alert =========== */
.alert>.start-icon {
	margin-right: 0;
	min-width: 20px;
	text-align: center;
}

.alert>.start-icon {
	margin-right: 5px;
}

.greencross {
	font-size: 18px;
	color: #25ff0b;
	text-shadow: none;
}

.alert-simple.alert-success {
	border: 1px solid rgba(36, 241, 6, 0.46);
	background-color: rgba(7, 149, 66, 0.12156862745098039);
	box-shadow: 0px 0px 2px #259c08;
	color: #0ad406;
	text-shadow: 2px 1px #00040a;
	transition: 0.5s;
	cursor: pointer;
}

.alert-success:hover {
	background-color: rgba(7, 149, 66, 0.35);
	transition: 0.5s;
}

.alert-simple.alert-info {
	border: 1px solid rgba(6, 44, 241, 0.46);
	background-color: rgba(7, 73, 149, 0.12156862745098039);
	box-shadow: 0px 0px 2px #0396ff;
	color: #0396ff;
	text-shadow: 2px 1px #00040a;
	transition: 0.5s;
	cursor: pointer;
}

.alert-info:hover {
	background-color: rgba(7, 73, 149, 0.35);
	transition: 0.5s;
}

.blue-cross {
	font-size: 18px;
	color: #0bd2ff;
	text-shadow: none;
}

.alert-simple.alert-warning {
	border: 1px solid rgba(241, 142, 6, 0.81);
	background-color: rgba(220, 128, 1, 0.16);
	box-shadow: 0px 0px 2px #ffb103;
	color: #ffb103;
	text-shadow: 2px 1px #00040a;
	transition: 0.5s;
	cursor: pointer;
}

.alert-warning:hover {
	background-color: rgba(220, 128, 1, 0.33);
	transition: 0.5s;
}

.warning {
	font-size: 18px;
	color: #ffb40b;
	text-shadow: none;
}

.alert-simple.alert-danger {
	border: 1px solid rgba(241, 6, 6, 0.81);
	background-color: rgba(220, 17, 1, 0.16);
	box-shadow: 0px 0px 2px #ff0303;
	color: #ff0303;
	text-shadow: 2px 1px #00040a;
	transition: 0.5s;
	cursor: pointer;
}

.alert-danger:hover {
	background-color: rgba(220, 17, 1, 0.33);
	transition: 0.5s;
}

.danger {
	font-size: 18px;
	color: #ff0303;
	text-shadow: none;
}

.alert-simple.alert-primary {
	border: 1px solid rgba(6, 241, 226, 0.81);
	background-color: rgba(1, 204, 220, 0.16);
	box-shadow: 0px 0px 2px #03fff5;
	color: #03d0ff;
	text-shadow: 2px 1px #00040a;
	transition: 0.5s;
	cursor: pointer;
}

.alert-primary:hover {
	background-color: rgba(1, 204, 220, 0.33);
	transition: 0.5s;
}

.alertprimary {
	font-size: 18px;
	color: #03d0ff;
	text-shadow: none;
}

.square_box {
	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-top-left-radius: 45px;
	opacity: 0.302;
}

.square_box.box_three {
	background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
	background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
	background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
	opacity: 0.059;
	left: -80px;
	top: -60px;
	width: 500px;
	height: 500px;
	border-radius: 45px;
}

.square_box.box_four {
	background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
	background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
	background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
	opacity: 0.059;
	left: 150px;
	top: -25px;
	width: 550px;
	height: 550px;
	border-radius: 45px;
}

.alert:before {
	content: '';
	position: absolute;
	width: 0;
	height: calc(100% - 44px);
	border-left: 1px solid;
	border-right: 2px solid;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	height: 20px;
}

.fa-times {
	-webkit-animation: blink-1 2s infinite both;
	animation: blink-1 2s infinite both;
}


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {

	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@keyframes blink-1 {

	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.dist_num{
	background-color: #bababa;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 50%;
}